<h1>Inscription</h1>
<mat-card>
  <mat-card-content>
    <div class="inputs">
      <mat-form-field>
        <mat-label>Adresse e-mail</mat-label>
        <input matInput type="email" [formControl]="emailCtrl">
        <mat-error>
          {{ getFormCtrlErrorText(emailCtrl) }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" [formControl]="passwordCtrl">
        <mat-error>
          {{ getFormCtrlErrorText(passwordCtrl) }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirmer le mot de passe</mat-label>
        <input matInput type="password" [formControl]="confirmCtrl">
        <mat-error>
          {{ getFormCtrlErrorText(confirmCtrl) }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="connection-buttons">
      <button mat-flat-button color="primary" (click)="authService.signUp(emailCtrl.value, passwordCtrl.value)" [disabled]="!registerForm.valid">
        S'inscrire
      </button>
      <p>Ou</p>
      <button mat-flat-button color="primary" (click)="authService.googleAuth()">
        <img src="assets/images/logo_google.png" class="google-logo" alt="google logo">
        S'inscrire avec Google
      </button>
    </div>
  </mat-card-content>
</mat-card>
<button mat-flat-button color="primary" routerLink="/auth/sign-in" class="connection-btn">
  <mat-icon>login</mat-icon>
  Se connecter
</button>
