<mat-card [formGroup]="mainForm" class="main-form" xmlns="http://www.w3.org/1999/html">

  <mat-card-title *ngIf="!currentAssignmentId">Ajouter une affectation</mat-card-title>
  <mat-card-title *ngIf="currentAssignmentId">Modifier l'affectation</mat-card-title>

  <mat-card class="form-card">
    <mat-card-subtitle>Bénévole</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Bénévole</mat-label>
        <mat-select *ngIf="volunteersOptions$ | async as volunteers" (selectionChange)="updateVolunteer($event.value)" [formControl]="volunteerCtrl">
          <mat-option *ngFor="let volunteer of volunteers" [value]="volunteer">
            {{ volunteer.nom | uppercase }} {{ volunteer.prenom | titlecase }}
          </mat-option>
        </mat-select>
        <mat-error>Ce champ est requis</mat-error>
      </mat-form-field>
    </div>
  </mat-card>

  <mat-card class="form-card">
    <mat-card-subtitle>Jeu</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Jeu</mat-label>
        <mat-select *ngIf="gamesOptions$ | async as games" (selectionChange)="updateGame($event.value)" [formControl]="gameCtrl">
          <mat-option *ngFor="let game of games" [value]="game">
            {{ game.nom | uppercase }} - {{ game.type | titlecase }}
          </mat-option>
        </mat-select>
        <mat-error>Ce champ est requis</mat-error>
      </mat-form-field>
    </div>
  </mat-card>

  <mat-card class="form-card">
    <mat-card-subtitle>Zone</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Zone</mat-label>
        <mat-select *ngIf="areasOptions$ | async as areas" (selectionChange)="updateArea($event.value)" [formControl]="areaCtrl">
          <mat-option *ngFor="let area of areas" [value]="area">
            {{ area.nom | uppercase }}
          </mat-option>
        </mat-select>
        <mat-error>Ce champ est requis</mat-error>
      </mat-form-field>
    </div>
  </mat-card>

  <mat-card class="form-card">
    <mat-card-subtitle>Horaires</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field appearance="fill" class="date-picker">
        <mat-label>Jour</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Ce champ est requis</mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" [formGroup]="hoursForm" class="hours-select">
        <mat-label>Heure début</mat-label>
        <mat-select *ngIf="hoursOptions" formControlName="heure_deb">
          <mat-option *ngFor="let hour of hoursOptions" [value]="hour">
            {{ hour }}
          </mat-option>
        </mat-select>
        <mat-error>Ce champs est requis</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" [formGroup]="hoursForm" class="hours-select">
        <mat-label>Heure fin</mat-label>
        <mat-select *ngIf="hoursOptions" formControlName="heure_fin">
          <mat-option *ngFor="let hour of hoursOptions" [value]="hour">
            {{ hour }}
          </mat-option>
        </mat-select>
        <mat-error>{{ getFormCtrlErrorText(endHourCtrl) }}</mat-error>
      </mat-form-field>
    </div>
  </mat-card>

  <mat-card-actions *ngIf="mainForm.valid">
    <button *ngIf="!currentAssignmentId" mat-flat-button color="primary" (click)="onSubmitForm()" [disabled]="loading$ | async" matTooltip="Enregister la nouvelle affectation" matTooltipPosition="left">
      <mat-icon class="btn_icon">save</mat-icon>
    </button>
    <button *ngIf="currentAssignmentId" mat-flat-button color="primary" (click)="onSubmitForm()" [disabled]="loading$ | async" matTooltip="Sauvegarder l'affectation'" matTooltipPosition="left">
      <mat-icon class="btn_icon">save</mat-icon>
    </button>
  </mat-card-actions>
  <button mat-flat-button color="primary" (click)="onGoBack()" [disabled]="loading$ | async" matTooltip="Retour" matTooltipPosition="right">
    <mat-icon class="btn_icon">arrow_back</mat-icon>
  </button>
  <div class="spinner" *ngIf="loading$ | async">
    <img src="./assets/images/logo.png" alt="spinner" class="spinner-image">
  </div>
</mat-card>
