<h1>Liste des jeux</h1>
<button mat-flat-button color="primary" (click)="onNewGame()" matTooltip="Créer un jeux" matTooltipPosition="right">
  <mat-icon class="btn_icon">add</mat-icon>
</button>
<mat-card>
  <mat-card-title-group>
    <div class="form">
      <mat-form-field appearance="fill" class="search-bar">
        <input matInput type="text" [formControl]="searchCtrl">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill" class="search-type">
        <mat-select [formControl]="searchTypeCtrl">
          <mat-option *ngFor="let option of searchTypeOptions" [value]="option.value">{{ option.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-title-group>
  <mat-spinner *ngIf="loading$ | async" class="spinner"></mat-spinner>
  <mat-nav-list *ngIf="games$ | async as games">
    <mat-list-item *ngFor="let game of games">
      <a [routerLink]="game._id">
        <h1 matLine class="name">{{ game.nom | uppercase }}</h1>
      </a>
      <span class="spacer"></span>
      <button mat-icon-button (click)="onEditGame(game._id)" matTooltip="Modifier le jeu" matTooltipPosition="left">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onDeleteGame(game._id)" matTooltip="Supprimer le jeu" matTooltipPosition="right">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>

  </mat-nav-list>
</mat-card>
