@import '../../../../assets/styles/colors';

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-left: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.active {
  color: $color-accent;
}

.home-link {
  height: 100%;
  display: flex;
}

.logo {
  margin: auto;
  height: 80%;
}
