mat-card {
  text-align: center;
}

button {
  margin: 5px;
}

.btn_icon {
  margin: auto 10px;
}

.game-info {
  margin-top: 40px;
}

.separator {
  margin: 15px auto;
  width: 90%;
  border-bottom: $color-accent thin solid;
}
