mat-card {
  text-align: center;
}

button {
  margin: 5px;
}

.btn_icon {
  margin: auto 10px;
}

.separator {
  margin: 15px auto;
  width: 90%;
  border-bottom: $color-accent thin solid;
}

mat-card-content {
  text-align: left;
  padding-left: 10%;
}

.info-group {
  margin-top: 15px;
}
