<mat-card>
  <ng-container *ngIf="assignments$ | async as assignment">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Bénévole</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="volunteer$ | async as volunteer">
        <p>Nom : {{ volunteer.nom }}</p>
        <p>Prénom : {{ volunteer.prenom }}</p>
        <p>Email : {{ volunteer.email }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="info-group">
      <mat-card-header>
        <mat-card-title>
          <h1>Jeu</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="game$ | async as game">
        <p>Nom : {{ game.nom }}</p>
        <p>Type : {{ game.type }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="info-group">
      <mat-card-header>
        <mat-card-title>
          <h1>Créneau horaire</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Début : {{ assignment.date_deb | date: "dd/MM/yyyy 'à' HH'h'mm" }}</p>
        <p>Fin : {{ assignment.date_fin | date: "dd/MM/yyyy 'à' HH'h'mm" }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="info-group">
      <mat-card-header>
        <mat-card-title>
          <h1>Zone</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ assignment.zone.nom }}</p>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <mat-card-actions>
    <mat-spinner *ngIf="loading$ | async; else buttons" class="spinner"></mat-spinner>
    <ng-template #buttons>
      <div class="separator"></div>
      <button mat-flat-button color="primary" (click)="onRemove()">
        <mat-icon class="btn_icon" matTooltip="Supprimer l'affectation">delete</mat-icon>
      </button>
      <button mat-flat-button color="primary" (click)="onUpdate()">
        <mat-icon class="btn_icon" matTooltip="Modifier l'affectation">edit</mat-icon>
      </button>
      <div class="separator"></div>
      <button mat-flat-button color="primary" (click)="onGoBack()" matTooltip="Retour" matTooltipPosition="right">
        <mat-icon class="btn_icon" >arrow_back</mat-icon>
      </button>
    </ng-template>
  </mat-card-actions>
</mat-card>
