@import "../../../../assets/styles/colors";

.spinner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.name {
  color: $color-accent;
}

.date {
  color: $color-accent;
}

div {
  border-bottom: $color-accent thin solid;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form-fields {
  width: 95%;
  border-bottom: none;
}

.search-bar {
  width: 70%;
}

.search-type {
  width: 30%;
}

button {
  margin-bottom: 20px;
}

.btn_icon {
  margin: auto 10px;
}

.list {
  border-bottom: none;
}
