@import "../../../../assets/styles/colors";

.spinner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.name {
  color: $color-accent;
  font-size: large;
  margin-top: auto;
  margin-bottom: auto;
}

.date {
  color: $color-accent;
  margin: auto auto auto 0;
  width: 100%;
}

a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}


.content {
  display: flex;
  flex-direction: column;
  border-bottom: none;
  max-width: 80%;
}

div {
  border-bottom: $color-accent thin solid;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form-fields {
  width: 95%;
  border-bottom: none;
}

.search-bar {
  width: 70%;
}

.search-type {
  width: 30%;
}

button {
  margin-bottom: 20px;
}

.btn_icon {
  margin: auto 10px;
}

.list {
  border-bottom: none;
}

.spacer {
  flex: 1 1 auto;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-bottom: none;
}

.btns > button {
  margin-bottom: 0;
}
