@import "../../../../assets/styles/colors";

.spinner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.name {
  color: $color-accent;
}

div {
  border-bottom: $color-accent thin solid;
}

.form {
  width: 100%;
}

.search-bar {
  width: 70%;
}

.search-type {
  width: 30%;
}

.name {
  color: $color-accent;
  font-size: large;
  margin-top: auto;
  margin-bottom: auto;
}

.date .area {
  color: $color-accent;
  margin: auto auto auto 0;
}

h1 {
  margin: 0;
}

h3 {
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  border-bottom: none;

}

.buttons-menu > button {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.buttons-menu {
  border-bottom: none;
}

.btn_icon {
  margin: auto 10px;
}

.spacer {
  flex: 1 1 auto;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-bottom: none;
}

a:hover {
  border-bottom: none;
}
