<h1>Liste des bénévoles</h1>
<div class="buttons">
  <button mat-flat-button *ngIf="!whichInit.noFilter" color="primary" (click)="onGoBack()" matTooltip="Retour" matTooltipPosition="left">
    <mat-icon class="btn_icon">arrow_back</mat-icon>
  </button>
  <button mat-flat-button color="primary" (click)="onNewVolunteer()" matTooltip="Ajouter un bénévole" matTooltipPosition="right">
    <mat-icon class="btn_icon">add</mat-icon>
  </button>
</div>
<mat-card>
  <mat-card-title-group>
    <div class="form">
      <mat-form-field appearance="fill" class="search-bar">
        <input matInput type="text" [formControl]="searchCtrl">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill" class="search-type">
        <mat-select [formControl]="searchTypeCtrl">
          <mat-option *ngFor="let option of searchTypeOptions" [value]="option.value">{{ option.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-title-group>
  <mat-spinner *ngIf="loading$ | async" class="spinner"></mat-spinner>
  <mat-nav-list *ngIf="whichInit.noFilter">
    <a *ngFor="let volunteer of volunteers$ | async" mat-list-item [routerLink]="volunteer._id.toString()">
      <h1 matLine class="name">{{ volunteer.nom | uppercase }} {{ volunteer.prenom | titlecase }}</h1>
    </a>
  </mat-nav-list>
  <mat-nav-list *ngIf="whichInit.areas">
    <a *ngFor="let volunteer of volunteersFilteredByArea$ | async" mat-list-item (click)="volunteerDetails(volunteer.benevole._id.toString())">
      <h1 matLine class="name">{{ volunteer.benevole.nom | uppercase }} {{ volunteer.benevole.prenom | titlecase }}</h1>
      <p matLine class="area">
        {{ volunteer._id.date_deb | date: "dd/MM/yyyy 'à' HH'h'mm" }} au {{ volunteer._id.date_fin | date: "dd/MM/yyyy 'à' HH'h'mm" }}
      </p>
    </a>
  </mat-nav-list>
  <mat-nav-list *ngIf="whichInit.dates">
    <a *ngFor="let volunteer of volunteersFilteredByDate$ | async" mat-list-item (click)="volunteerDetails(volunteer.benevole._id.toString())">
      <h1 matLine class="name">{{ volunteer.benevole.nom | uppercase }} {{ volunteer.benevole.prenom | titlecase }}</h1>
      <p matLine class="date">
        {{ volunteer._id }}
      </p>
    </a>
  </mat-nav-list>
</mat-card>
